<div class="row">
  <div class="col-xs-12">
    <div class="dropdown-toggle col-xs-12 " appDropdown>
        <a
                class="list-group-item clearfix"
                style="cursor: pointer; text-align: center"
        >
            {{author.authorName}} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a  style="cursor: pointer;"
                    [routerLink]="['/authors',author.authorName]"
                >Информация про автора</a>
            </li>
            <li
                    *ngFor="let item of author.bookList"
            >
                <a style="cursor: pointer;"
                   [routerLink]="['/books',item]"
                >{{item}}</a>
            </li>
        </ul>
    </div>
  </div>
</div>
